body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#headingGroup h1:hover {
    background-color: #f8b1ca;
    transition: background-color 500ms;
}



#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}
.card-deck {
    padding: 50px;
}

.card-body {
   background-color: rgba(129, 247, 247, 0.3);
   
} 

.card-body .btn{
    display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
    font-weight: 1;
    font-size : 1.5rem;
}

.card-title:hover {
    background-color:  rgb(222,192,222,0.4);
    font-size : 2rem;
    transition: background 500ms;
}

.list-group-item:hover {
    background-color:  rgb(222,192,222,0.4);
    font-size : 1.15rem;
    transition: background 500ms;
}

#headingGroup span {
    font-size: 4rem;
}

.list-group-item {
    background-color:pink;
}

.slash {
    font-size:3.5rem;
}
.card-img-top {
    height:350px;
}


.card-body .btn{
    background-color:rgb(250, 170, 184);
    
}
.card-body .btn:hover{
    background-color:rgb(184, 9, 9);
    font-size: 1.2rem;
    
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




