body {
  
  background-color:white;
  min-height: 100vh;
  overflow-x: hidden;
  color:#5e676f;
}
 .vertical-nav {
  min-width: 15rem;
  width: 15rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  z-index: 99999;
}
.page-content {
  width: calc(100% - 15rem);
  margin-left: 15rem;
  transition: all 0.4s;
} 

#sidebar.active {
  margin-left: -15rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #aaa;
}
.nav-link{
    text-transform: capitalize;
}
.nav-link:hover{
    background:#f3f2f2;
}

.form-control{border:0}

.card{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

input#exampleRadios3 {
  transform: scale(1.7);
  
}
.vertical-scrollable{
  overflow-y: scroll;
}


#notif.badge{
    
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top:-1px;
    right:58px;
    padding:5px;
}

@media (max-width: 600px) {
  #sidebar {
    z-index: 99999;
    margin-left: -15rem;
  }
  #sidebar.active {
    
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 30rem;
    width: calc(100% - 30rem);

  }
  .container{
    width: 400px;
  }
}
.pull-left{float:left;}
.pull-right{float:right;}
.no-padding{padding: 0px;}
.box1{width:30%;float:left;}
.box1_center{padding-right: 2%; padding-left: 2%;}
.box_1_small_text{float: right;color:#ccc;}
.box2{width:32%;float:left;}
.text_grey{color:#696969;}
.text_blue{color:#14bae4;}
.text_black{color:#303030;}
.font_14{font-size: 14px;}
.box3{width:100%;float:left;}
.no-pdding-right{padding-right: 0%;}
.no-pdding-left{padding-left: 0%;}
.text_green{color:#31c971}
