/* The side navigation menu */

body {
  
  background-color: #c3c0c07d;
 
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #1a2226;
    overflow-x: hidden;
    padding-top: 0;
    
  }
.topheader{
  background-color: #367fa9;
  height: 3rem;
  text-align: center;

  
}

.topheader h5{
  padding-top: 0.75rem;
    color: white;
}



  
  


/* The sidenav */


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 23px;
  text-decoration: none;
  font-size: 1rem;
  color: #b8c7ce;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  margin-bottom: 3%;

  margin-left: 50px;
}







.pull-left{
    float: left;
}
.logged-in{
    color: green;
}
.sideheading{
  padding-top: 5px;
  padding-left: 10px;
  color: #4b646f;
  background-color:#1a2226;
}

#mySearch {
    width: 90%;
    height: 20px;
    font-size: 75%;
    padding: 12px;
    border: 1px solid transparent;
    background-color: #374850;
  }

.profile-image{
   
   border-radius: 50%;
   width: 100%;
   max-width: 45px;
   height: auto;
}  


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* Style the navigation bar */
.topnavbar {
  width: 100%;
  background-color: #3c8dbc;
  
  overflow: hidden;
  position: relative;
}

/* Navbar links */
.topnavbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.topnavbar small{
  font-size: 90%;
    font-weight: 400;
    padding: 1%;
    color:white;

}






/* Navbar links on mouse-over */
.topnavbar a:hover {
  background-color:#408aca;
}

.subheader{
  margin-left: 255px;
  display: inline-flex;
  margin-top: 1rem;
}

.iconsubheader {
  margin-left:59rem;
  color:black;
  padding-left: 1rem;
}

.iconsubheader a{
  color:black;
  padding-left: -2%;
}

.report{
  display: flex;
  flex-direction: row;
  
  
}


#bluebadge{
  background-color: #1ea5c3;
  float:right;
}
#greenbadge{
  background-color: #00a65a;
  float:right;
}
#redbadge{
  background-color: #e25d49;
  float:right;
}
#yellowbadge{
  background-color: #e29015d9;
  float:right;
}



.report .report2{
  
  box-shadow: 2px 2px 2px 2px #b1adadf0;
}

.report div{
  margin:5px;
  font-size: 20px;
  height:6rem;
  width:17rem;
  margin-left:50px;
  display: flex;
  

  background-color:white;
}
#firstbox{
  margin-left:260px;
  box-shadow: 2px 2px 2px 2px #b1adadf0;
}

.report2 div{
  
  margin: 0px;
}

.report-image{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 79%;
    height: 76%;
    margin: auto;
}

.report p{
  font-size: 70%;
    padding: 4%;
    font-weight: 500;
}

.container { 
  display: flex;
  flex-direction: row;
  margin-left: 250px;
  height: 300px;
  flex-wrap: wrap;
  margin-top: 1%;
  
  
  } 
.container > div {
  
  padding: .5em;
  color:black;
 
  
 
  border-radius: 3px;
  background: white;
  
}
.container > div:nth-child(2) {
  width: 20%;
  border-bottom: 1px solid #e1f1ff;
  }
.container > div:nth-child(3) {
    width: 70%;
    height: 240px;
    }  
.container > div:nth-child(1){
  width:80%;
  border-bottom: 1px solid #e1f1ff;}  
.container > div:nth-child(4){
  width:30%;
  height: 240px;
}
 
  

.container > div:nth-child(6),
.container > div:nth-child(7),
.container > div:nth-child(8),.container > div:nth-child(5) {
  width: 25%;
  height:30%;
  border-top: 1px solid #e1f1ff;
} 
.graph{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 105%;
    margin: auto;
} 

.span-num{
  margin-left: 42%;
  font-size:smaller;
}

.footer-text{
  margin-bottom: 0rem;
    text-align: center;
}

.footer-text p{
  margin-bottom: 0rem;
}

.mapbox{
  display: flex;
  flex-direction: row;
  margin-left: 265px;
  height: 400px;
  flex-wrap: wrap;
  margin-top: 7%;
  width: 780px !important;
  
  background-color: white;
  margin-bottom: 2%;
}

.mapbox div{
  background-color:white;
 
}

.mapbox > div:nth-child(1){
  width: 70%;
    
    height: 14%;}

.mapbox > div:nth-child(2) {
    width: 30%;
    
    height: 14%;
    }  
.mapbox > div:nth-child(3)
    {
      height: 86%;
    width: 70%;
    }
.mapbox > div:nth-child(4){
  height:86%;
  width:30%;
  background-color: #00a65a !important;
  text-align: center;
    color: white;
}

.mapbox div p{
  margin-bottom: 1rem;
    margin-top: 2%;
    margin-left: 3%;
}

.report-bar p{
  margin-bottom:0rem !important;
  margin-top: 0% !important;
 
}




.mapbox img{
  vertical-align: middle;
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 97%;
    margin: auto;
}

.report-vertical{
  
    display: flex;
    flex-direction: column;
    margin-left: 265px;
    height: 400px;
    flex-wrap: wrap;
    margin-top: -28.4%;
    width: 434px;
    float: right;
    background-color:;
    margin-bottom: 2%;
    margin-right: 1%;
}

.report-vertical div{
  
  background-color:white;
  height: 20%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
}

.sub-hori{
  height: 100% !important;
    width: 28%;

}
.sub-hori1{
height: 100% !important;
    width: 72%;
}

.report-image{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 79%;
    height: 76%;
    margin: auto;
    
}
/* Dropdown Button */
.dropbtn {
  background-color: #1a2226;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #1a2226;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a2226;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #b8c7ce;
  
  text-decoration: none;
  display: block;
  background-color: #374850;
  height: 3.5rem;
  padding: 12px 39px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#1a2226}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



/* Current/active navbar link */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1500px) {
  .report div {width: 16rem;margin-left:29px;}
  .iconsubheader {margin-left: 52rem;}
  .report2 div{
  
    margin: 0px;
  }
  .report-vertical{width:334px;}
}

@media screen and (max-width: 1400px) {
  .report div {width: 14.5rem;margin-left:29px;}
  .iconsubheader {margin-left: 46rem;}
  .report2 div{
  
    margin: 0px;
  }
  .report-vertical{width:334px;margin-top: -32.4%;}

  .container{height:400px;width:81%}
  .container > div:nth-child(3),.container > div:nth-child(4){
    height: 344px;
    
  }
  .mapbox{width:680px !important;margin-top: 11%;}

  #mini{margin-left:5rem !important;}  
  #mini1{margin-left:6rem !important;} 
}

@media screen and (max-width: 1300px) {
  .report div {
    width: 13.5rem;
    margin-left: 17px;
}
  .iconsubheader {margin-left: 40rem;}
  .report2 div{
  
    margin: 0px;
  }
  .report-vertical{width:334px;margin-top: -32.4%;}

  .container{height:400px;width:79%}
  .container > div:nth-child(3),.container > div:nth-child(4){
    height: 344px;
    
  }
  .mapbox{width:579px !important;margin-top: 12%;}

  #mini{margin-left:5rem !important;}  
  #mini1{margin-left:6rem !important;} 
}

@media screen and (max-width: 1200px) {
  .report div {
    width: 12.5rem;
    margin-left: 7px;
}
  .iconsubheader {margin-left: 33rem;}
  .report2 div{
  
    margin: 0px;
  }
  .report-vertical{width:334px;margin-top: -35.4%;}

  .container{height:400px;width:77%}
  .container > div:nth-child(3),.container > div:nth-child(4){
    height: 344px;
    
  }
  .mapbox{width:473px !important;margin-top: 13%;}

  
  #mini{margin-left:5rem !important;}  
  #mini1{margin-left:6rem !important;} 
}

@media screen and (max-width: 1100px) {
  .report div {
    flex-direction: column;
    width: 10.5rem;
    margin-left: 1rem;
    height: 5rem;
}
  .iconsubheader {margin-left: 27rem;}
  .report2 div{
  
    margin: 0px;
  }
  .report-vertical{width:334px;margin-top: -40.4%;}

  .container{height:400px;width:75%;margin-top: 5rem;}
  .container > div:nth-child(3),.container > div:nth-child(4){
    height: 344px;
    
  }
  .mapbox{width: 388px !important;
    margin-top: 14%;}

  #mini{margin-left:3rem !important;}  
  #mini1{margin-left:4rem !important;} 


}

@media screen and (max-width: 1000px) {
  .report div {
    flex-direction: column;
    width: 8.5rem;
    margin-left: 1.5rem;
    height: 5rem;
}
  .iconsubheader {margin-left: 21rem;}
  .report2 div{
  
    margin: 0px;
  }
  .report-vertical {
    width: 500px;
    margin-top: -0.4%;
    flex-direction: column-reverse;
    float: left;
}

  .container{height:400px;width:70%;margin-top: 5rem;}
  .container > div:nth-child(3),.container > div:nth-child(4){
    height: 344px;
    
  }
  .mapbox{width: 602px !important;
    margin-top: 16%;}
  #mini{margin-left:2rem !important;}    
}

@media screen and (max-width: 769px) {
  .report {flex-direction: column;}
  .report div {
    flex-direction: row;
    
    width: 31.5rem;
    margin-left: 16.25rem;
    height: 5rem;
}
  .iconsubheader {margin-left: 13rem;}
  .report2 div{
  
    margin: 0px;
  }
  .report-vertical {
    width: 484px;
    margin-top: -0.4%;
    flex-direction: column-reverse;
    float: left;
}

  .container{height:400px;width:69%;margin-top: 1rem;}
  .container > div:nth-child(3),.container > div:nth-child(4){
    height: 344px;
    
  }
  .mapbox{width: 500px !important;
    margin-top: 17%;}

  #mini{
    margin-left: 0rem !important;
    
  }

  #mini1{
    margin-left: 6rem !important;
  }
  
}

@media screen and (max-width: 482px) {
  .report {flex-direction: column;}
  .report div {
    flex-direction: column;
    width: 13.5rem;
    margin-left: 16.25rem;
    height: 5rem;
    margin-bottom: 5rem;
}
  .iconsubheader{margin-left: -11rem;
  padding-top: 15px;}
  .report2 div{
  
    margin: 0px;
  }
  .report-vertical {
    width: 204px;
    margin-top: -10.4%;
    flex-direction: column-reverse;
    float: left;
}

  .container{height:400px;width:47%;margin-top: 1rem;flex-direction: column;}
  .container > div:nth-child(1) {
    width: 0%;
    border-bottom: 1px solid #e1f1ff;
    font-size: 0%;
}
.container > div:nth-child(2) {
  width: 0%;
  border-bottom: 1px solid #e1f1ff;
  font-size: 0rem;
}
.container > div:nth-child(3){
  height: 343px;
  margin-left: -71%;
  margin-top: 11%;
  width: 0%;}

  .container > div:nth-child(4){
    height: 344px;
    margin-left: -3%;
    margin-top: -4%;
    width: 108%;}

  .container > div:nth-child(5){
    height: 30%;
    border-top: 1px solid #e1f1ff;
    margin-top: 176%;
    margin-left: -108%;
    width: 108%;} 

    
      
      
        
      

  
    
  
  .mapbox{width: 205px !important;
    margin-top: 7%;height: 0%;}

  .mapbox > div:nth-child(1),  .mapbox > div:nth-child(2),.mapbox > div:nth-child(3){
    width:0%
  }
     

        

  .mapbox > div:nth-child(4){
    width:100%;
  }
.container > div:nth-child(6),
.container > div:nth-child(7),
.container > div:nth-child(8) {
  width: 0%;
  height:0%;
  border-top: 1px solid #e1f1ff;
  font-size: 0%;
} 

   

  #mini{
    margin-left: 0rem !important;
    
  }

  #mini1{
    margin-left: 6rem !important;
  }
  .topnavbar a{font-size: 15px;padding: 0px;}

  #profile-image{max-width: 27px;}

  .topnavbar small{width:0%;font-size: 0%;}
}



